AI Recruitment Screener & Auto-Scheduler.json
{
  "name": "AI Recruitment Screener & Auto-Scheduler",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        0
      ],
      "id": "7e910955-a954-45dc-8d57-e717857d54f3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jX8OaR5ecW76XW1I",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Extract the candidate's full resume details from this document — full name, phone number, email, skills, education, and work experience. Return it as clean plain text.",
        "inputType": "binary",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        784,
        0
      ],
      "id": "33476974-5333-4dd2-9e60-e9b917dd45c1",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "WzKQUn1LqBUud0PB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sender Email: {{ $('Gmail Trigger').item.json.from }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nResume Text: {{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "You are a recruitment intake and screening agent for job applications. You will \nreceive:\n- Sender's email address\n- Sender's name (if available)\n- Email subject\n- Extracted resume text from an attachment\n\nYou have access to THREE tools:\n1. A Google Sheets tool to LOG new applicant data (append a new row)\n2. A Google Docs tool to READ the Job Description\n3. A Google Sheets tool to UPDATE the same row with the Score after evaluation\n\nFollow these steps in order:\n\nSTEP 1 — Log the applicant\nExtract and log the following fields into the sheet using the logging tool:\n- Applicant Name (from email or resume text, whichever is more accurate)\n- Email Address\n- Subject\n- Resume Summary (extracted skills, experience, education from the resume text)\n- Date Received\nAlways append as a new row. Never guess missing fields — leave blank if not \navailable.\n\nSTEP 2 — Fetch the Job Description\nUse the Google Docs tool to read the current Job Description, including required \nskills, experience level, and qualifications.\n\nSTEP 3 — Score the applicant\nCompare the Resume Summary from Step 1 against the Job Description from Step 2. \nGenerate a single Score from 0-100 representing how well the applicant matches \nthe job requirements, based on skills, experience, and qualifications.\n\nScoring guide:\n- 80-100: Strong match\n- 50-79: Partial match\n- Below 50: Weak match\n\nNever guess or assume skills not clearly mentioned in the resume — if a skill or \nqualification is unclear, do not count it toward the score.\n\nSTEP 4 — Update the sheet with the score\nUse the update tool to add the Score to the SAME row you logged in Step 1 (match \nusing Applicant Name or Email Address as the identifier — do not create a new \nrow for this). Only update the Score field, do not modify any other column.\n\n\nDo not skip any step. Do not perform scoring before logging. Do not leave the \nrow unscored after logging."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        0
      ],
      "id": "7286fde5-f517-4d71-84e4-52e87f476183",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1088,
        176
      ],
      "id": "a80609c6-f62a-4612-abc7-1206189a7457",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tERVBoL48HBr2-83N7698jr2-PFWG1iTdFDmMQq8NWE",
          "mode": "list",
          "cachedResultName": "resume details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tERVBoL48HBr2-83N7698jr2-PFWG1iTdFDmMQq8NWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tERVBoL48HBr2-83N7698jr2-PFWG1iTdFDmMQq8NWE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NAME__using_to_match_', ``, 'string') }}",
            "EMAIL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('EMAIL', ``, 'string') }}",
            "SUBJECT": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('SUBJECT', ``, 'string') }}",
            "Compitancy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Compitancy', ``, 'string') }}",
            "score": ""
          },
          "matchingColumns": [
            "NAME"
          ],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SUBJECT",
              "displayName": "SUBJECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Compitancy",
              "displayName": "Compitancy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1216,
        208
      ],
      "id": "10752f25-5a42-452b-b8bf-52e66916f365",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3l9pGo1oP6EcKvln",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/12W8zSnSxdxwBkobWIW63AlBcqc-n4JCf7Gu_QiUHc3M/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1376,
        192
      ],
      "id": "be87642d-5a76-4417-a7b6-825606f9382d",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "W3v74t1oH8Ig3Onl",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tERVBoL48HBr2-83N7698jr2-PFWG1iTdFDmMQq8NWE",
          "mode": "list",
          "cachedResultName": "resume details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tERVBoL48HBr2-83N7698jr2-PFWG1iTdFDmMQq8NWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tERVBoL48HBr2-83N7698jr2-PFWG1iTdFDmMQq8NWE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "score": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('score__using_to_match_', ``, 'string') }}",
            "EMAIL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('EMAIL__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SUBJECT",
              "displayName": "SUBJECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Compitancy",
              "displayName": "Compitancy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1520,
        192
      ],
      "id": "3ac6dc1a-669c-4980-b2d6-fab779dc793f",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3l9pGo1oP6EcKvln",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0767c520-e4ea-4bba-b845-33f399ce9783",
              "leftValue": "={{ $json.score }}",
              "rightValue": "={{ 80 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        0
      ],
      "id": "e2a1349b-dcdd-400e-9c59-8b899db40cc9",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\n\n// Try multiple patterns to catch different score formats\nlet score = 0;\n\n// Pattern 1: \"88/100\" format (bold or plain)\nlet match = text.match(/\\*{0,2}(\\d{1,3})\\s*\\/\\s*100\\*{0,2}/);\nif (match) {\n  score = parseInt(match[1]);\n} else {\n  // Pattern 2: \"Score: 88\" or \"Score of 88\" or \"scored 88\"\n  match = text.match(/score[d:\\s\\-of]*\\**\\s*(\\d{1,3})/i);\n  if (match) score = parseInt(match[1]);\n}\n\nconst nameMatch = text.match(/\\*\\*([A-Za-z\\s]+)\\*\\*/);\nconst applicantName = nameMatch ? nameMatch[1].trim() : \"Applicant\";\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    score: score,\n    applicantName: applicantName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "c5098d80-9a54-47cd-b52b-687d5960c3a3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.headers.from }}",
        "subject": "Interview Invitation - Floor manager",
        "emailType": "text",
        "message": "=Dear {{ $('Code in JavaScript').item.json.applicantName }},  Congratulations! Your profile has been shortlisted for the Floor manager  position. Please visit our office on any weekday (Monday to Friday) during  office hours to meet with our HR team for an interview.  We look forward to meeting you.  Best regards, HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2048,
        -96
      ],
      "id": "0783048c-8c27-4b96-8dfc-9f6763297b81",
      "name": "Send a message",
      "webhookId": "04d84344-5fdf-4591-bb9e-03c51c880317",
      "credentials": {
        "gmailOAuth2": {
          "id": "jX8OaR5ecW76XW1I",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.headers.from }}",
        "subject": "Rejection - Floor manager Position",
        "emailType": "text",
        "message": "=Dear {{ $json.applicantName }},  Thank you for taking the time to apply for the Floor manager position and for  sharing your background with us.  After careful review, we've decided to move forward with other candidates  whose experience more closely matches our current requirements for this role.  This decision is not a reflection of your potential, and we encourage you to  apply for future openings that may be a better fit. We wish you the very best  in your job search and future endeavors.  Thank you again for your interest in joining our team.  Best regards, HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2048,
        96
      ],
      "id": "6a27706d-d84e-49d4-8cf1-266d82894fde",
      "name": "Send a message1",
      "webhookId": "95962703-ce71-4db7-8c06-616bf87af2fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "jX8OaR5ecW76XW1I",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email classifier. Analyze the following email and determine if it \nis a JOB APPLICATION or NOT.\n\nEmail Subject: {{ $json.subject }}\nEmail Body/Snippet: {{ $json.snippet }}\n\nA job application typically includes: mentions of applying for a position, \nwords like \"application\", \"resume\", \"CV\", \"job\", \"position\", \"hiring\", \n\"applying\", or similar intent related to employment.\n\nRespond with ONLY one word: \"YES\" if it's a job application, or \"NO\" if it's \nnot (e.g., spam, newsletter, unrelated business email, promotional content).\n\nDo not include any explanation, punctuation, or additional text — respond with \nexactly \"YES\" or \"NO\".",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -16,
        0
      ],
      "id": "7f325dcd-3f1b-471f-8faa-93b6908102f5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        224
      ],
      "id": "89d05923-92a4-43ca-b942-cca5a5a90c4f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e146ef5-3e25-48cd-90a9-08b2ec8a47b4",
              "leftValue": "={{ $json.text }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        0
      ],
      "id": "3c32c9be-2ad8-4a5c-84fa-2efde9dbdba5",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const gmailData = $('Gmail Trigger').first();\n\nreturn [{\n  json: $input.item.json,\n  binary: gmailData.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "4ded192e-86a8-4a73-b724-c66e989b301c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "EMAIL SCRAPPER, in these nodes the emails received on gmail are being scrapped and if there is any email containing job application, then it will be processed further.",
        "height": 496,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -128
      ],
      "id": "71da5930-38ef-4d86-bfb0-2725ebd5ae53",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Reading data from CV sent by applicant. it can read any format (jpeg,png,pdf)",
        "height": 320,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -112
      ],
      "id": "c7b77f29-9aac-47c2-bd74-39b555494f0b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Here the data of email is being stored in the sheet, then it is comparing that data with the job requirements in the docs, after that giving a score to the applicant and again updating the score in sheet",
        "height": 672,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -256
      ],
      "id": "85968755-2de4-4d91-9cd8-e098518d09a7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "here it is sending the acceptance email if score is greater than 80, and if not greater then 80, it sends a rejection email\n",
        "height": 624,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        -288
      ],
      "id": "aac53558-48f6-424b-9d3c-89cbd302bf7a",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a4b142d8-0105-4299-8829-2595008f3226",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de84a8b00bb17e6001d7ea1f37489a71c7cb307c2cd2af4109bd987e06ec0e6c"
  },
  "nodeGroups": [],
  "id": "8uiKJawjpUbPusyh",
  "tags": []
}